<footer>
    <hr>
    <p>Pie de pagina Juan Jose Goyeneche</p>
    <p>
      <a href="/">Inicio</a> |
      <a href="/formulario">Formulario</a>
      <a href="/form_method">form clase</a>
      <a href="/test_ejs">Test ejs for i</a>
    </p>
    <hr>
</footer>
  