<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title> App con EJS</title>
</head>
<body>
<nav>
    <h2>Lab 12</h2>
    <br>
  <a href="/">Inicio</a> |
  <a href="/formulario">Formulario</a>
</nav>
<hr>
